@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

font combinations 
Rubik + Roboto Mono
Karla & Inconsolata
Anton & Roboto
Mulish & Space Mono

new font combos
ruda - 48px
roboto slab 16px

lekton and poppins
*/

.lekton400 {
  font-family: var(--font-lekton400);
}

.lekton700 {
  font-family: var(--font-lekton700);
}
.poppins200 {
  font-family: var(--font-poppins200);
}
.poppins700 {
  font-family: var(--font-poppins700);
}

:root {
  --light: #f9f7fd;
  --dark: #1d232a;
  --primary: #e779c1;
  --primarydm: #d42698;
  --secondary: #58c7f3;
  --secondarydm: #3684a3;
  --accent: #ffd200;
  --neutral: #221551;
  --neutralhover: #e3e1e6;
  --info: #53c0f3;
  --success: #71ead2;
  --warning: #eace6c;
  --error: #ec8c79;
  --border: #c3bece;
}

.color-light {
  color: var(--light);
}
.color-dark {
  color: var(--dark);
}
.color-primary {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}
.color-accent {
  color: var(--accent);
}
.color-neutral {
  color: var(--neutral);
}
.color-info {
  color: var(--info);
}
.color-success {
  color: var(--success);
}
.color-warning {
  color: var(--warning);
}
.color-error {
  color: var(--error);
}
.color-border {
  color: var(--border);
}

* {
  min-width: 0;
}

.hidebottomscroll {
  overflow-x: hidden;
}
.setlayout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.innercontent {
  height: calc(100vh - 250px);
}

:root[data-theme="dark"] {
  color-scheme: light;
  color: var(--dark);
  background-color: var(--light);

  /* need to change all colours to be light versions */
  /* --primary: rgb(231, 121, 193); */
  --neutral: rgb(34, 21, 81);
  --neutralhover: rgb(121, 83, 255);
  --btn-neutral-text: rgb(249, 247, 253);
  --border: #dcd7e5;
}
:root[data-theme="light"] {
  color-scheme: dark;
  color: var(--light);
  background-color: var(--dark);

  /* need to change all colours to be dark versions */
  /* --primary: rgb(212, 38, 152); */
  --neutral: rgb(249, 247, 253);
  --neutralhover: rgb(227, 225, 230);
  --btn-neutral-text: rgb(34, 21, 81);
  --border: #49515b;
}
/* .btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
} */

.btn-neutral {
  color: var(--btn-neutral-text);
  background-color: var(--neutral);
  border-color: var(--neutral);
}
.btn-neutral:hover {
  color: var(--btn-neutral-text);
  background-color: var(--neutralhover);
  border-color: var(--neutralhover);
}

.nav-hover {
  display: block;
  cursor: pointer;
}
.nav-hover:hover {
  color: var(--success);
  /* text-decoration: underline; */
}
.header-title {
  font-size: 3.75px;
}
/* .txt-link-title {
  color: var(--secondary);
  width: 100%;
}
.txt-link-title:hover {
  color: var(--secondarydm);
  text-decoration: underline;
} */
.txt-link {
  color: var(--secondary);
}
.txt-link:hover {
  color: var(--secondarydm);
  text-decoration: underline;
}
.txt-link-tag {
  color: var(--primary);
}
.txt-link-tag:hover {
  color: var(--primarydm);
  text-decoration: underline;
}

::selection {
  color: var(--dark);
  background: var(--accent);
}

body {
  height: 100%;
  margin: 0;
}
.thenav {
  height: 100px;
  width: 100%;
  padding: 20px 30px 0 30px;
}

.section-minheight {
  min-height: 80vh;
  margin-bottom: 200px;
}
.box {
  height: calc(100vh - 100px);
  padding: 20px 30px 0 30px;
}

.btn-post {
  display: block;
}
.btn-post:hover {
  cursor: pointer;
  background-color: rgb(248, 228, 224, 0.2);
  /* color: var(--light); */
}
.post-divider {
  border-bottom: solid 1px;
  border-bottom-color: var(--border);
}

.tag-divider {
  border-bottom: solid 1px;
  border-bottom-color: var(--border);
  /* padding-bottom: 18px; */
}
.thefooter {
  border-top: solid 1px;
  border-top-color: var(--border);
  padding: 30px 15px 20px 15px;
}
